:root {
  --serene: #b9bfc6;
  --light-sky-blue: #b8d4e6;
  --powder-blue: #9ab4ce;
  --sky-blue: #8db9e2;
  --periwinkle-blue: #a4c6e0;
  --steel-blue: #7c9ab7;
}

body {
  background-color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  header {
    width: 90vw;
    margin: auto;
    h1 {
      color: var(--steel-blue);
      font-size: 60px;
      text-align: center;
    }
  }

  main {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    .form-input{
      background-color: var(--light-sky-blue);
      width: 50%;
      padding: 1rem 0.5rem;
      margin: auto;
      border-radius: 10px;
      .form {
        * {
          border: none;
          border-radius: .25rem;
        }
        .input {
          margin-top: .75rem;
          margin-bottom: .75rem;
          width: 100%;
        }:invalid{
          margin: 0;
          border: 1px solid salmon;
        }
      }
      .buttons {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        margin: 20px auto;
        /* border: 1px solid salmon; */
        box-sizing: border-box;
        .calculateBMI {
          border: none;
          background-color: salmon;
          justify-items: center;
          border-radius: 10px;
          transition: all 0.3s;
          padding-top: .5rem;
          padding-bottom: .5rem;
        }
        :hover {
          background-color: var(--steel-blue);
          color: white;
        }
        .reset-form {
          border: none;
          background-color:var(--serene);
          transition: all 0.3s;
          border-radius: 10px;
          color: white;
        }:hover {
          background-color: var(--sky-blue);
          color: whitesmoke;
      }
      }
    }
    .form-result{
      width: 50%;
      border-radius: 10px;
      bottom: 0;
      height: 100%;
      .result {
        background-color: var(--periwinkle-blue);
      }
    }
  }
}